#tech1 {
    --delay: 0;
}
#tech2 {
    --delay: 1;
}
#tech3 {
    --delay: 2;
}
#tech4 {
    --delay: 3;
}
#tech5 {
    --delay: 4;
}
#tech6 {
    --delay: 5;
}
#tech7 {
    --delay: 6;
}
#tech8 {
    --delay: 7;
}
#tech9 {
    --delay: 8;
}
#tech10 {
    --delay: 9;
}
